{% extends "layout.html.twig" %}

{% block content %}
    <table class="table table-stripped table-bordered">
        <tr>
            <td>Сотрудник</td>
            <td>Работал</td>
            <td>Отдыхал</td>
        </tr>

            {% for key, time in timetable %}
            <tr>
                <td>
                    {% for user in users %}
                    {% if user['id'] == key  %}
                    {{ user['name'] }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>

                </td>
                <td>1</td>
            </tr>
            {% endfor %}

    </table>
{% endblock %}
